[Desktop Entry]
Icon=text-html
Name=http://www.nongnu.org/avr-libc/user-manual/pages.html
Type=Link
URL[$e]=http://www.nongnu.org/avr-libc/user-manual/pages.html
